@using Microsoft.AspNetCore.Identity;

@model IEnumerable<IdentityRole>
@{
    ViewBag.Title = "Roles";
}
<link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
<style>
    th {
        text-align: center !important;
    }
</style>



<h2>Welcome To roles</h2>
@*<h2>@SharedLocalizer["wte"]</h2>*@

<br />
<a asp-action="CreateNewRole" asp-controller="Roles" class="btn btn-primary">Create new role</a>
<br />
<br />

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>List of roles</h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable text-center font-weight-bold">
                            <thead>
                                <tr class="thead-dark">
                                    <th>RoleName</th>
                                    <th>Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>

                                        <td><a asp-action="EditRole" asp-controller="Roles" class="btn btn-success" asp-route-Id="@item.Id">Update</a></td>
                                    </tr>
                                }

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section DataTable{
    <script>
        $(function () {
            $('.js-basic-example').DataTable({
                responsive: true,
                paging: true,
                pageLength: 5,
                bSort: true,
                bFilter: true,
                //bLengthChange: false,
                //bInfo: false,
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],

            });
        });
    </script>
}